html {
    font-size: 22px;
}

body {
    background-color:lightblue;
    color: black;
}

a {
    color: aliceblue;
}

a:visited {

    color: blue;
}

a:hover, a:active {

    color:#eee;
}

table, tr, th, td, caption {
    border:1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}